<?xml version="1.0" encoding="UTF-8"?>
<!-- DOCTYPE에 대한 설정 -->
<!DOCTYPE configuration PUBLIC "-//mabatis.org//DTD Config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- configuration태그를 root -->
<configuration>
	<environments default="production">
		<!--  주석 ctrl + shift + / -->
		<!-- DB접속환경 
			environment태그를 가짐
		-->
		<environment id="production">
			<!-- 특정 DB접속에 대한 설정
				트랜잭션에 대한 설정, 접속연결정보(Datasource)
			 -->
			 <transactionManager type="JDBC"/>
			 <dataSource type="POOLED">
			 	<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
			 	<property name="url" value="jdbc:oracle:thin:@14.36.141.71:8877:xe"/>
			 	<property name="username" value="web"/>
			 	<property name="password" value="web"/>
			 </dataSource>
		</environment>
		<environment id="dev">
			<!-- 특정 DB접속에 대한 설정
				트랜잭션에 대한 설정, 접속연결정보(Datasource)
			 -->
			 <transactionManager type="JDBC"/>
			 <dataSource type="POOLED">
			 	<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
			 	<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
			 	<property name="username" value="web"/>
			 	<property name="password" value="web"/>
			 </dataSource>
		</environment>
	</environments>
	
	<!-- 생성한 mapper파일을 등록 -->
	<mappers>
		<mapper resource="/mapper/student/student-mapper.xml"/>
		<!-- 추가되면 mapper 태그 추가  -->
	</mappers>
</configuration>